.modal-button {
    width: 25%;
    height: 80%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
}
.grey {
    background-color: #7b7b7b;
    color: #fff;
}
.red {
    background-color: rgb(163, 4, 4);
    color: #fff;
}
.green {
    background-color: rgb(0, 97, 0);
    color: #fff;
}