.submit-btn {
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px #324b4a; 
    box-shadow: 1px 2px 5px #324b4a;
    background-color: #324b4a;
    color: #95b1af;
    width: 60%;
    height: 36px;
    margin-top: 30px;
    font-family: 'Roboto', 'Regular';
    font-weight: 400;
    font-size: 1rem;
}

.submit-btn:hover {
    animation: submit-btn 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-color: #426161;
}

@keyframes submit-btn {
    from {
        border: solid 1px #324b4a; 
        box-shadow: 1px 2px 5px #324b4a;
        background-color: #324b4a;
    } 
    to {
        background-color: #426161;
        border: solid 1px #426161; 
        box-shadow: 1px 2px 5px #95b1af;
    }
}

.submit-btn:focus {
    box-shadow: 1px 2px 5px #95b1af;
}