:root {
    --bg-color: #324b4a;
    --color: #95b1af;
    --shadow-color: #4c5b5a; 
}

button {
    box-sizing: border-box;
    border-radius: 5px;

    font-family: "Roboto", "Regular";
    font-weight: 400;
    font-size: 1rem;
}

.LoginBtn {
  border: solid 1px var(--bg-color);
  box-shadow: 1px 2px 5px var(--shadow-color);

  background-color: var(--bg-color);
  color: var(--color);

  width: 60%;
  height: 36px;
  margin-top: 30px;
}

.LoginBtn:hover {
  animation: Loginbtn 0.5s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  background-color: #426161;
}

@keyframes Loginbtn {
  from {
    border: solid 1px var(--bg-color);
    box-shadow: 1px 2px 5px var(--shadow-color);
    background-color: var(--bg-color);
  }
  to {
    background-color: #426161;
    border: solid 1px #426161;
    box-shadow: 1px 2px 5px var(--color);
  }
}

.LoginBtn:focus {
  box-shadow: 1px 2px 5px var(--color);
}

.ProductTableBtn {
    border: solid 1px var(--bg-color);
    box-shadow: 1px 2px 5px var(--shadow-color);

    background-color: var(--bg-color);
    color: var(--color);

    width: 14%;
    height: 40px;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ProductTableBtnIcon {
    height: 100%;
    display: inherit;
    align-items: center;
}

.ProductTableBtnIcon img {
    height: 80%;
}

.ProductTableBtnText {
    flex-grow: 2;
    height: 100%;

    display: inherit;
    align-items: center;
    justify-content: center;
}

.ProductTableBtn:hover {
    animation: ProductTableBtn 0.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    background-color: #426161;
}

@keyframes ProductTableBtn {
    from {
      border: solid 1px var(--bg-color);
      box-shadow: 1px 2px 5px var(--shadow-color);
      background-color: var(--bg-color);
    }
    to {
      background-color: #426161;
      border: solid 1px #426161;
      box-shadow: 1px 2px 5px var(--color);
    }
}