.container .box .table-buttons {
    display: flex;
    justify-content: space-between;
}

.container .box .table-title {
    font-size: 2.5rem;
    text-align: center;
}

.container .box .table-products-list-container {
    width: 100%;

    display: flex;
    justify-content: center;
}

.container .box .table-products-list-container .table-products-list {
    width: 77%; 
}